header{
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

main{
    display: flex;
}

nav{
    width: 20%;
    background-color:grey;
    padding: 20px;
}

nav a{
    color: darkred;
    font-weight: bold;
    text-decoration: none;
}

article{
    width: 80%;
    padding: 40px;
}

footer{
    background-color: darkred;
    padding: 20px 0px;
    color: white;
    text-align: center;
}